body { margin: 0 }
a { text-decoration: none; color: #000; }
* { box-sizing: border-box}
h1, h2, h3, h4, h5, h6 { margin: 0 }
p { margin: 0 }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  outline: none;
  border: none;
}

.flex { display: flex }
.flex.space-between { justify-content: space-between }
.flex.space-around { justify-content: space-around }
.flex.column { flex-direction: column }
.flex.wrap { flex-wrap: wrap }
.flex.no-wrap { flex-wrap: nowrap }
.flex.center { justify-content: center }
.flex.items-center { align-items: center }

.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }
.flex-4 { flex: 4 }
.flex-5 { flex: 5 }

.d-none { display: none; visibility: hidden; }

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uppercase { text-transform: uppercase }
.capitalize { text-transform: capitalize }
.nowrap { white-space: nowrap }

/* Temporary */
.red { background-color: red }
.green { background-color: green }
.yellow { background-color: yellow }
.border { border: 1px red solid; }

pre {
    font-size: 28px;
    color: coral;
}
