.contact-us {
  .contact-us-cover-image {
    height: 400px;
  }

  .menu {
  }

  /* TODO: temp */
  main {
    height: 2300px;
  }

  .contact-form {

    .item {
      width: 50%;
      &:first-of-type {
        padding-right: 15px;
      }
      &:last-of-type {
        padding-left: 15px;
      }
    }

    input {
      width: 100%;
      padding-top: 5px;

      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;

      box-shadow: none;
      outline: none;
      border: none;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: #7E7E7E;
        font-size: 15px;
        font-weight: 400;
      }
    }

    .input-wrapper {
      border-bottom: 1px solid #E3E3E3;
      padding-bottom: 15px;
      margin-bottom: 28px;

      & > label {
        font-size: 14px;
        color: #7E7E7E;
      }
    }

    .desc {
      width: 100%;
    }

    .submit {
      font-size: 14px;
      font-weight: 700;
      color: var(--color-black);
    }
  }

  .branches {
    width: 100%;

    .branch-btn {
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 1px solid #EEEEEE;

      .dd-btn {
        width: 33%;

        & > span {
          font-size: 15px;
          font-weight: 600;
        }

        @media screen and (max-width: 930px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    .branch-items {

      .branch-item {
        width: 100%;
        padding: 36px 0;
        &:not(:last-of-type) {
          border-bottom: 1px solid #EEEEEE;
        }

        .branch-image {
          min-height: 150px;
          min-width: 240px;
        }

        .content {
          width: auto;
          padding-left: 40px;
          .branch-name {
            font-size: 18px;
            font-weight: 600;
            color: var(--color-black);
          }

          .branch-addr {
            font-size: 15px;
            font-weight: 400;
            color: #616161;
          }

          .branch-phone {
            font-size: 15px;
            font-weight: 600;
            color: var(--color-primary);
          }

          .branch-schedule {
            color: var(--color-red);
            font-size: 15px;
            font-weight: 600;
          }

          .branch-to-detail {
            font-size: 15px;
            font-weight: 600;
            opacity: 60%;
            color: var(--color-primary);
          }
        }
      }
    }

    .branch-all {
      width: 100%;
      overflow-x: hidden;

      .line {
        height: 1px;
        width: 100%;
        border-bottom:1px solid rgba(224, 224, 224, 1);
      }

      .btn-all {
        border: 0.5px solid rgba(224, 224, 224, 1);
        border-radius: 30px;
        padding: 5px 0;
        min-width: 157px;

        & > span {
          font-size: 12px;
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
}
