.news-page {
  .cover-bg {
    height: 130px;
    width: 100vw;
    background-color: var(--color-black);
  }
  .news-page-title {
    max-width: var(--container-width);
    margin: 0 auto;
    h3 {
      font-weight: 600;
      font-size: 24px;
      color: #fff;
    }
  }

  .news-item {
    min-height: 150px;

    border-radius: 6px;
    box-shadow: 0 4px 20px 10px rgba(31, 78, 106, 0.03);

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    .news-image {
      min-height: 240px;
      min-width: 370px;
    }

    .text-wrapper {
      padding: 40px 50px 30px 30px;

      .sub-title {
        font-weight: 600;
        font-size: 12px;
        color: #B5B5B5;
      }

      .title {
        font-weight: 600;
        size: 16px;
        color: var(--color-black);
      }

      .content {
        font-weight:400;
        size: 15px;
        color: #8c8c8c;
      }
    }
  }

  .other-news-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }
  .other-news {
    width: var(--aside-width);
    .other-news-item {
      &:not(:last-of-type) {
        border-bottom: 1px #e9e9e9 solid;
      }
      padding: 30px 0;

      .sub-title {
        font-weight: 600;
        font-size: 12px;
        color: #B5B5B5;
      }

      .title {
        font-weight: 400;
        size: 14px;
        color: var(--color-black);
      }

    }
  }
}
