.products {
  .products-cover-image {
    height: 400px;
  }

  /* TODO: temp */
  main {
    height: 2300px;
  }

  .product-items {
    .product-item {
      min-height: 470px;


      &:not(:last-of-type) {
        margin-bottom: 100px;
      }

      .product-image {
        min-width: 170px;
        min-height: 440px;
      }

      .product-detail {
        padding-left: 30px;

        .title {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
        }

        .to-detail {
          display: none;
          font-size: 15px;
          font-weight: 600;
          color: var(--color-primary);

          & > span {
            color: var(--color-red);
          }
        }

        .product-value {
          padding: 5px 0;
          font-size: 15px;
          font-weight: 600;
          color: var(--color-black);
        }

        .product-desc {
          padding: 5px 0;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          color: #8C8C8C;
        }

        .infos {
          width: 100%;
          margin-bottom: 34px;

          .info {
            & > * {
              font-size: 15px;
              font-weight: 600;
            }
            .label {
              flex-basis: 170px;
              color: #71777A;
            }

            .value {
              color: var(--color-primary);
            }
          }
        }

        .tab-body {
          .check-mark {
            color: var(--color-red);
            margin-right: 12px;
          }
        }
      }

      &:hover {
        .to-detail {
          display: block;
        }
      }
    }
  }
}
