.recruitment {
  main {
    width: var(--container-width);
    margin: 0 auto;

    .job-detail {
      .header {
        background: #FAFBFB;
        padding: 8px 24px;

        .job-title {
          font-size: 16px;
          font-weight: 600;
          color: var(--color-black);
        }
        .due-date {
          font-size: 14px;
          font-weight: 600;
          color: var(--color-body);
        }
      }
      .items {
        padding: 30px 0;
        .item {
          width: 100%;
          background: #fff;
          border: 1px solid #DFE6E6;
          min-height: 200px;
          padding: 24px 30px;

          &:not(:last-of-type) {
            margin-bottom: 20px;
          }

          .title {
            font-size: 18px;
            font-weight: 400;
            color: var(--color-black);
            margin-bottom: 15px;
          }

          .content {
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            color: var(--color-body);

            &:not(:last-of-type) {
              padding-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
