.recruitment {
  main {
    width: var(--container-width);
    margin: 0 auto;

    .job-detail {
      .header {
        padding: 8px 24px;

        .title {
          font-size: 16px;
          font-weight: 600;
          color: var(--color-black);
        }
        .date {
          font-size: 14px;
          font-weight: 600;
          color: #6A777B;
        }
      }
      .items {
        .item {

        }
      }
    }
  }
}
